img {
  margin: 20px auto;
  width: 400px;
  height: 200px;
  display: block;
  
}

label {
  padding: 10px;
}
.App {
  padding-bottom: 50px;
  padding-top: 0;
  margin: 0;
  text-align: center;
  background-color: #d9e4f4;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.header img {
  width: 100%;
  height:400px;
  vertical-align: middle;
}

.root {
  margin: 0;
  padding: 0;
}
